<div class="rodape-geral">
    <div class="rodape">
        <div class="rodape__redes">
            <p class="rodape__subtitulo">Redes Sociais:</p>
            <div class="rodape-icons">
                <a href="https://www.facebook.com/FordBrasil?locale=pt_BR" target="_blank">
                    <img class="rodape__img" src="assets/logo/facebook-50.png">
                </a>
                <a href="https://www.instagram.com/fordbrasil/" target="_blank">
                    <img class="rodape__img" src="assets/logo/instagram-logo-50.png">
                </a>
                <a href="https://www.youtube.com/fordbrasil" target="_blank">
                    <img class="rodape__img" src="assets/logo/youtube-squared-50.png">
                </a>
            </div>
        </div>
        <div class="rodape-atendimento">
            <p class="rodape__subtitulo">Atendimento ao cliente:</p>
            <a class="diretos-paragrafo" [routerLink]="['/contato']" routerLinkActive="router-link-active" >Fale conosco</a>
        </div>
        <div class="rodape-veiculos">
            <p class="rodape__subtitulo">Veículos:</p>
            <a class="diretos-paragrafo" [routerLink]="['/home']" routerLinkActive="router-link-active" >Lançamentos</a>
        </div>
        <img class="rodape__logo" src="assets/logo/logobranca.png">
    </div>
    <div class="rodape-direitos">
        <p class="diretos-copyright" >&copy; Ford 2023</p>
        <a class="diretos-paragrafo" [routerLink]="['/politica-de-privacidade']" routerLinkActive="router-link-active">Política de Privacidade</a>
        <a class="diretos-paragrafo" [routerLink]="['/lgpd']" routerLinkActive="router-link-active">LGPD: Proteção de Dados</a>
    </div>
</div>