.fordform {
  display: block;
  width: 300px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  height: 26px;
  margin: 8px;
  font-size: 13px;
  padding: 5px;
}

select.fordform {
  width: 300px;
  height: 36px;
  color: #807d7d;
}

input:focus-visible {
  outline: none;
}

select:focus-visible {
  outline: none;
}

main div {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.forms {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 25px;
}


h2 {
  text-align: left;
  font-weight: 800;
}


button {
  width: 200px;
  height: 40px;
  margin-right: 8px;
  float: right;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

.titulo {
  margin-left: 8px;
}

.form_paragraph1 {
  font-size: 0.66rem;
  width: 300px;
  opacity: 50%;
}

.form_paragraph2 {
  font-size: 0.70rem;
  height: 0;
  padding-left: 1px;
}

.paragraph_container {
  margin-left: 8px;
  padding-bottom: 5px;
}

.termo1 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.termo2 {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  gap: 10px;
  margin-left: 10px;
}


.form_button {
  display: flex;
  justify-content: center;
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #040485;
  color: white;
  border-radius: 0.5rem;
  padding: 0.7rem 0;
  width: 60%;
  cursor: pointer;
}

.checkbox1 {
  vertical-align: top;
}

@media(max-width:1024px) {
  app-cabecalho {
    display: none;
  }

  app-navbar {
      display: block;
      background: linear-gradient(to bottom, #0c1f4b, #000000);
      height: 50px;
  }
}


