<nav>
    <a class="cabecalho__link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
    <a class="nav-link dropdown-toggle cabecalho__link" href="#" id="veiculosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Veículos
    </a>
    <ul class="dropdown-menu" aria-labelledby="veiculosDropdown">
        <li><a class="dropdown-item" [routerLink]="['/veiculos/bronco']" routerLinkActive="router-link-active" >Ford Bronco</a></li>
        <li><a class="dropdown-item" [routerLink]="['/veiculos/ranger']" routerLinkActive="router-link-active" >Ford Ranger</a></li>
        <li><a class="dropdown-item" [routerLink]="['/veiculos/march']" routerLinkActive="router-link-active" >Mustang Mach-E</a></li>
    </ul>
    <a class="cabecalho__link" [routerLink]="['/contato']" routerLinkActive="router-link-active">Contato</a>
    <a class="cabecalho__link" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a> <!--fazer um dropdown-->
</nav>