.teste {
    display: flex;
}

.container-img {
    display: flex;
    align-items: center;
}

.imagem {
    width: 98%;
    opacity: 50%;
}

@media(max-width: 1024px) {
    .teste {
        flex-direction: column;
    }
}