
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="900000">
      <img src="assets/ranger-raptor/ranger1.jpg" class="d-block w-100 teste" alt="...">
      <nav>
        <a class="cabecalho__link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
        <a class="cabecalho__link" [routerLink]="['/lancamento']" routerLinkActive="router-link-active">Lançamento</a>
        <a class="cabecalho__link" [routerLink]="['/contato']" routerLinkActive="router-link-active">Contato</a>
        <a class="cabecalho__link" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a> <!--fazer um dropdown-->
      </nav>
      <div class="container-info">
        <img src="assets/logo/logotodabranca.png" alt="" class="logo">
        <div class="container-texto">
          <h1 class="titulo">Ford Ranger 2023</h1>
          <p class="paragrafo">Raça forte na terra e no asfalto!</p>
        </div>
        <div class="container-link">
          <a [routerLink]="['/dashboard']" class="link" routerLinkActive="router-link-active">Conheça o veiculo</a>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="6000">
      <video class="d-block w-100 video" autoplay muted loop playsinline>
        <source src="assets/testevideo.mp4" type="video/mp4">
        Seu navegador não suporta vídeo HTML5.
      </video>
      <div class="container-info">
        <img src="assets/logo/logotodabranca.png" alt="" class="logo">
        <div class="container-texto">
          <h1 class="titulo">Ford Alguma coisa</h1>
          <p class="paragrafo">O melhor SUV das ruas</p>
        </div>
        <div class="container-link">
          <a [routerLink]="['/dashboard']" class="link" routerLinkActive="router-link-active">Saiba mais</a>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="assets/march/mustang march-e.jpg" class="d-block w-100 teste" alt="...">
    </div>
  </div>
</div>