<app-navbar></app-navbar>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="assets/ranger-raptor/ranger1.jpg" class="d-block w-100 image ranger" alt="...">
      <nav>
        <a class="cabecalho__link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
        <a class="cabecalho__link" [routerLink]="['/lancamento']" routerLinkActive="router-link-active">Lançamento</a>
        <a class="cabecalho__link" [routerLink]="['/contato']" routerLinkActive="router-link-active">Contato</a>
        <a class="cabecalho__link" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a> <!--fazer um dropdown-->
      </nav>
      <div class="container-info">
        <img src="assets/logo/logotodabranca.png" alt="" class="logo">
        <div class="container-texto">
          <h1 class="titulo">Ford Ranger 2023</h1>
          <p class="paragrafo">Raça forte na terra e no asfalto!</p>
        </div>
        <div class="container-link">
          <a [routerLink]="['/dashboard']" class="link" routerLinkActive="router-link-active">Explore o veiculo</a>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="assets/march/mustang march-e.jpg" class="d-block w-100 image march" alt="...">
      <nav>
        <a class="cabecalho__link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
        <a class="cabecalho__link" [routerLink]="['/lancamento']" routerLinkActive="router-link-active">Lançamento</a>
        <a class="cabecalho__link" [routerLink]="['/contato']" routerLinkActive="router-link-active">Contato</a>
        <a class="cabecalho__link" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a> <!--fazer um dropdown-->
      </nav>
      <div class="container-info">
        <img src="assets/logo/logotodabranca.png" alt="" class="logo">
        <div class="container-texto">
          <h1 class="titulo">Ford Mustang Mach-E 2023</h1>
          <p class="paragrafo">Potência silenciosa, presença marcante</p>
        </div>
        <div class="container-link">
          <a [routerLink]="['/dashboard']" class="link" routerLinkActive="router-link-active">Explore o veiculo</a>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="assets/bronco/Bronco.jpg" class="d-block w-100 image bronco" alt="...">
      <nav>
        <a class="cabecalho__link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
        <a class="cabecalho__link" [routerLink]="['/lancamento']" routerLinkActive="router-link-active">Lançamento</a>
        <a class="cabecalho__link" [routerLink]="['/contato']" routerLinkActive="router-link-active">Contato</a>
        <a class="cabecalho__link" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a> <!--fazer um dropdown-->
      </nav>
      <div class="container-info">
        <img src="assets/logo/logotodabranca.png" alt="" class="logo">
        <div class="container-texto">
          <h1 class="titulo">Ford Bronco 2023</h1>
          <p class="paragrafo"> SUV que não segue caminhos. <br>Cria os seus.</p>
        </div>
        <div class="container-link">
          <a [routerLink]="['/dashboard']" class="link" routerLinkActive="router-link-active">Explore o veiculo</a>
        </div>
    </div>
  </div>
</div>

<section>
  <table class="apresentacao-lancamento__tabela">
            <tr class="apresentacao-lancamento__linha">
                <td class="apresentacao-lancamento__linha__coluna">
                    <img class="apresentacao-lancamento__linha__img" src="assets/ranger-raptor/rangerlateral.png" alt="XL Cabine">
                    <div class="tabela-container">
                        <div class="tabela-container__text">
                            <label class="apresentacao-lancamento__label" for="xl-cabine">XL 2.2 Diesel 4x4 MT 2022</label>
                            <p class="apresentacao-lancamento__paragrafo">A partir de <span>R$ 200.000</span>
                        </div>
                    </div>
                </td>
                <td class="apresentacao-lancamento__linha__coluna">
                    <img class="apresentacao-lancamento__linha__img" src="assets/march/marchlateral.png" alt="XLS 2.2 Diesel">
                    <div class="tabela-container">
                        <div class="tabela-container__text">
                            <label class="apresentacao-lancamento__label" for="xl-diesel">XLS 2.2 Diesel 4x4 AT 2022</label>
                            <p class="apresentacao-lancamento__paragrafo">A partir de <span>R$ 220.000</span>
                        </div>
                    </div>
                </td>
                <td class="apresentacao-lancamento__linha__coluna">
                    <img class="apresentacao-lancamento__linha__img" src="assets/bronco/bronco2.png" alt="Storm">
                    <div class="tabela-container">
                        <div class="tabela-container__text">
                            <label class="apresentacao-lancamento__label" for="storm">Storm 3.2 Diesel 4x4 AT 2022</label>
                            <p class="apresentacao-lancamento__paragrafo">A partir de <span>R$ 240.000</span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
</section>