nav {
  display: flex;
  gap: 2rem;
  position: absolute;
  left: 78%;
  top: 1%;
}

.cabecalho__link {
  font-family: var(--font-primaria);
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  font-weight: 400;
  font-size: 1.3rem;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.cabecalho__link:hover {
  color: #d1d1d1;
  transform: scale(1.05);
}

.teste { /* quando for deixa responsivo apenas muda o heigh de vh para px eu acho, ou puxa mx heigh ou colocar auto */
  height: 100vh;
  object-fit: cover;
}

.video {
  height: 100vh;
  object-fit: cover;
}

.container-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 1%;
  left: 2%;
  gap: 10px;
  max-width: 50%;
}

.logo {
  width: 35%;
}

.container-texto {
  justify-content: center;
}

.titulo {
  color: white;
  font-size: 3.25rem;
}

.paragrafo {
  font-size: 1.75rem;
  color: white;
}

.link {
  text-decoration: none;
    color: black;
    font-family: var(--font-secundaria);
    font-weight: 600;
    font-size: 1.25rem;
    background-color: white;
    border-radius: 48px;
    padding: 10px 32px 10px 32px;
    letter-spacing: 1.5px;
    transition: background-color 0.5s ease;
}

.link:hover {
  background-color: #d1d1d1;
}