<section class="total">
  <div class="container-geral">
    <div class="container-texto">
      <label class="texto" for="">Veículo</label>
   </div>
   <div class="container-dropdown">
      <select class="dropdown" name="dropdown" id="" focus>
        <option selected disabled value="">Selecione</option>
        <option value="">Ranger</option>
        <option value="">Mustang</option>
        <option value="">Territory</option>
        <option value="">Bronco Sport</option>
      </select>
  </div>
  </div>
</section>