<section class="total">
  <div class="container-geral">
    <div class="container-texto">
      <label class="texto" for="">Veículo</label>
   </div>
   <div class="container-dropdown">
      <select class="dropdown" [(ngModel)]="veiculoSelecionado" (change)="onChange()" focus>
        <option selected disabled value="">Selecione</option>
        <option value="Ranger">Ranger</option>
        <option value="Mustang">Mustang</option>
        <option value="Territory">Territory</option>
        <option value="Bronco">Bronco Sport</option>
      </select>
  </div>
  </div>
</section>