.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.principal {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 1;
}

.conttexto {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.titulo {
  color: blue;
  font-size: 2.75rem;
}

.teste {
  display: flex;
  gap: 125px;
  margin-left: 50px;
}

.teste2 {
  display: flex;
  gap: 125px;
}

.container-img {
  display: flex;
  justify-content: center;
}

.img {
  width: 45%;
}

footer {
  margin-top: auto;
}
