.dashboard-container {
  display: flex;
  flex-direction: column;
}

.principal {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 1;
}

.conttexto {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.titulo {
  color: blue;
  font-size: 2.75rem;
}

.teste {
  display: flex;
  gap: 125px;
  margin-left: 50px;
}

.teste2 {
  display: flex;
  gap: 125px;
}

.container-img {
  display: flex;
  justify-content: center;
}

.img {
  width: 45%;
}

.NadaSelecionado {
  display: flex;
  justify-content: center;
  height: 340px;
}

.NadaSelecionado-texto {
  color: black;
  font-size: 1.5rem;
}

@media(max-width: 1024px) {
  .teste {
    flex-direction: column;
  }

  .teste2 {
    flex-direction: column;
  }
}

@media(min-width: 1024px) and (max-width: 1800px) {
  app-info-cards {
    transform: scale(0.7);
  }

  app-vehicle-selector {
    transform: scale(0.7);
  }

  .teste {
    gap: 5px;
    flex-direction: column;
    margin-left: 1px;
    align-items: center;
  }

  .teste2 {
    gap: 5px;
  }
}