<table class="table table-bordered text-center">
  <thead>
    <tr class="bg-primary text-white">
      <th class="bg-primary text-white" scope="col">Código - Vin</th>
      <th class="bg-primary text-white" scope="col">Odômetro</th>
      <th class="bg-primary text-white" scope="col">Nível de Combustível</th>
      <th class="bg-primary text-white" scope="col">Status</th>
      <th class="bg-primary text-white" scope="col">Lat.</th>
      <th class="bg-primary text-white" scope="col">Long.</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="pesquisa">
        <input [(ngModel)]='vin' class="input" type="text" placeholder="Digite o Vin">
        <button class="btn btn-primary" (click)="buscarDadosPorVin()">Buscar</button>
      </td>
      <td>{{ dadosVeiculo?.odometro }}</td>
      <td>{{ dadosVeiculo?.nivelCombustivel }}</td>
      <td>{{ dadosVeiculo?.status }}</td>
      <td>{{ dadosVeiculo?.lat }}</td>
      <td>{{ dadosVeiculo?.long }}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="erro" class="alert alert-danger mt-2">
  {{ erro }}
</div>