.total {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container-geral {
    border: solid #000000 1px;
    width: 348px;
    height: 200px;
    border-left: solid black;
    border-bottom: solid black;
}

.container-texto {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    padding-left: 25px;
    height: 25%;
}

.dropdown{
    height: 50px;
    width: 300px;
}

.container-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 35px;
    margin-left: 25px;
}

.texto {
    font-size: 25px;
}

.texto-valor {
  color: blue;
  font-size: 2.25rem;
}

.texto-unid {
  font-size: 1.15rem;
}